body{
    background-image: url("https://olympic.kz/redesign/v2/assets/img/team-kz.png");
    background-repeat:no-repeat;
    background-size: 100px;
    background-position-x: 15px;
    background-position-y: 150px;
 }
 .homepage{
     top: 0;
     position: sticky;
     z-index: 1000 ;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(194, 0, 0);
     color: rgb(194, 0, 0);
 }   
 .homepage div{
     margin: 0 100px;
 }
 
 
 .tutu{
     margin: 50px 300px;
     display: flex;
     justify-content: center;
 }
 
 .page1{
     background-color: rgb(255, 255, 255); 
     padding: 50px;
     font-family: "Trirong", serif;
 }
 .page1 h1{
     margin: 30px 0px 15px;
     font-weight: 900;
 }
 .page1 div{
     margin: 10px 5px;
 }
 .page2{
     background-color: gb(255, 255, 255); 
     margin: 0 250px;
     padding: 0 50px;    
     font-family: "Trirong", serif;
 }
 .page2 h1{
     padding: 30px 0 15px;
     font-weight: 900;
 }
 .page2 table .bronze{
     color: hsl(30, 61%, 50%);
 }
 .page2 .container{
     padding: 10px 0 50px;
 }
 .page2 .container .col, .col-sm-7{
     border: 1px solid hsl(30, 61%, 50%);
 
 }
 .page2 .col{
     font-weight: 300;
     display: flex;
     justify-content: center;
     font-weight: 500;
 }
 .page2 .container  .justify-content-center .col-sm-7, .justify-content-center .col{
     font-weight: 900;
     display: flex;
     justify-content: center;
 }
 .page3{
     background-color: gb(255, 255, 255); 
     margin: 0 250px;
     padding: 0 50px;
     font-family: "Trirong", serif;
 }
 .page3 h1{
     padding: 30px 0 15px;
     font-weight: 900;
     font-size: 30px;
 }
 .page3 div{
     margin: 10px 5px;
 }
 .page3 .image{
     display: flex;
     justify-content: center;
     margin: 30px 0px;   
 }
 .page3 .image img{
     width: 300px;
     border-radius: 140px;
 }
 .page3 .anuran{
     font-weight: 600;
     line-height: 15px;
 }
 .page3 .president div{
     margin: 0;
     padding: 10px;  
 }
 .page3 .president h2{
     margin: 30px 0 0;
 }
.page2 table .gold{
    color: hsla(51, 100%, 50%, 1);
}
.page2 table .silver{
    color: hsla(0, 0%, 75%, 1);
}
.allplayer{
    text-align: center;
    font-size: 50px;
    margin: 0px 0px 20px 0px;
}
.main .container .col{
    border: 1px solid rgb(0,0,0);
    padding: 3px 0px;
}
.main .container .row{
    font-size: 18px;
}

@media screen and (max-width: 768px){

    .homepage{
        width: 620px;
    }
    .homepage div{
        margin: 10px;
    }
    .homepage button{
        font-size: 5px;
    }

    .tutu{
        justify-content: left;
        margin: 20px 10px;
    }

    .page1{
        width: 400px;
        padding: 10px;
        font-family: "Trirong", serif;
    }
    .page1 h1{
        font-size: 30px;
        margin: 30px 0px 15px;
        font-weight: 900;
    }
    .page1 div{
        margin: 0px 0px;
        font-size: 10px;
    }


    .page2{
        width: 620px;
        margin: 0;
        padding: 0 40px;
    }
    .page2 h1{
        font-size: 20px;    
        padding: 20px 0 15px;
        font-weight: 900;
    }
    .page2 th{
        font-size: 10px;
    }
    .page2 .container{
        padding: 0 0 120px;
    }
    .page2 .container .col, .col-sm-7{
        font-size: 10px;
        padding: 0;
    
    }




    .page3{
        width: 620px;
        margin: 0;
        padding: 0 20px;
    }
    .page3 h1{
        padding: 30px 0 15px;
        font-weight: 900;
        font-size: 30px;
    }
    .page3 div{
        margin: 10px 5px;
    }
    .page3 .image{
        display: flex;
        justify-content: center;
        margin: 30px 0px;   
    }
    .page3 .image img{
        width: 200px;
        border-radius: 140px;
    }
    .page3 .anuran{
        font-weight: 600;
        line-height: 15px;
    }
    .page3 .president div{
        margin: 0;
        padding: 10px;  
    }
    .page3 .president h2{
        margin: 30px 0 0;
    }

}



@media  screen and (max-width: 414px) {
 
    .homepage{
        width: 335px;
        justify-content: left;
    }
    .homepage div{
        margin: 5px;
    }
    .homepage button{ 
        padding:5px;      
        font-size:5px;
    }

    .tutu{
        justify-content: left;
        margin: 10px 10px;
    }

    .page1{
        width: 300px;
        padding: 10px;
        font-family: "Trirong", serif;
    }
    .page1 h1{
        font-size: 15px;
        margin: 10px 0px 5px;
        font-weight: 900;
    }
    .page1 div{
        margin: 0px 0px;
        font-size: 10px;
    }


    .page2{
        width: 335px;
        margin: 0;
        padding: 0 10px;
    }
    .page2 h1{
        padding: 10px 0 5px;
        font-weight: 900;
        font-size: 20px;
    }
    .page2 table th{
        font-size: 5px;
    }
    .page2 .container{
        margin: 0 0 0 -20px;
        font-size: 10px;
        padding: 0 0 300px; 
    }
    .page2 .container .col, .col-sm-7{
        font-size: 7px;
        padding: 0;
    
    }
}